body {
  background-color: #f9f8fe;
}
button {
  margin: 0;
}
.hint {
  font-size: 15px;
  opacity: 0.7;
}
.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.Dictionary input {
  width: 90%;
  padding: 6px 9px;
  border: 2px solid #ddd;
  border-radius: 6px;
  color: #333;
}
h1 {
  text-align: center;
  margin: 30px;
}
h2,
h6 {
  display: inline;
  margin: 0;
}
.Meaning {
  margin-bottom: 30px;
}
form h4 {
  font-weight: 700;
}
.Word h3,
h4 {
  display: inline;
  margin: 0;
  text-transform: capitalize;
  line-height: 1.5;
}
.button {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
}
p {
  display: inline;
}
a {
  margin-right: 10px;
  text-decoration: none;
}
.Phonetics-a {
  border: 1px solid lightgray;
  border-radius: 50%;
}
.Phonetics-a:hover {
  background-color: wheat;
}
.Synonyms {
  margin: 5px 0;
}
.Synonyms li {
  display: inline-block;
  padding-right: 10px;
}
.Photos-img {
  margin-bottom: 25px;
  border-radius: 6px;
}
